.jumbotron {
    background-image:url("../images/HPlogo.png");
    background-size: 100% 100%;
    border-radius: 20px;
    height: 250px;
}

#submit {
    cursor: pointer;
}

label {
    font-weight: bold;
}

body {
    background-color: #d9d9d9;
    background-image:url("../images/gryffindor.jpg");
    background-size: contain;
    color: white;
}

tr {
    background-color: black;
    border-radius: 30px;
}